@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*{
    box-sizing: border-box;
    word-break: break-all;
    transition: all ease 0.2s;
}


body{
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
}

header{
    position: fixed;
    height: 69px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    z-index: 2;
    
}

.container-app{
    position: fixed;
    height: calc(100vh - 70px);
    top: 70px;
    width: 100%;
    overflow-y: auto;
}
.page-list-Quizzes{
    padding: 31px 20px;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
}
.criar-Quizz{
    width: 100%;
    height: 181px;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.criar-Quizz span{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color:#B9B9B9;
    align-items: center;
    text-align: center;
}
.criar-Quizz button{
    width: 151px;
    height: 40px;
    border-radius: 50px;
    color: #EC362D;
    border: 1px dashed #ec362d;
    background-color: #fafafa;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.criar-Quizz button:hover {
    color: #fff;
    background-color: #ed362d;
}
button:active {
    transform: scale(0.97);
}
.Quizzes{
    display: flex;
    flex-direction: column;
}
.Quizzes .header, .user .header{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.user .header{
    margin-bottom: 10px;
}
.add_quizz_icon{
    font-size: 30px;
    color: #EC362D;
    margin-left: 22px;
}
.Quizzes .User button, .user button{
    background-color: #fafafa;
    border: none;
}
.list-Quizzes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 15px;
}
.container-Quizz{
    position: relative;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
}
.container-Quizz img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-Quizz .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    );
  }
.container-Quizz .title{
    position: absolute;
    font-size: 18px;
    padding: 18px;
    color: #FFFFFF;
    word-break: break-all;
    margin-top: 110px;

}
/* CSS CRIAR QUIZZ*/
.basic-info, .questions, .Nivel, .sucesso{
    padding: 31px 20px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 0px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basic-info h1, .questions h1, .Nivel h1, .sucesso h1{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 27px;
    text-align: center;
}
.container-perguntas input, .container-niveis input{
    width: 100%;
    height: 46px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 20px;
}
input::placeholder{
    font-style: italic;
    color: #BABABA;
}
.container-perguntas{
    max-width: 600px;
    margin-bottom: 24px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    
}
.prosseguir{
    max-width: 370px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    background-color: #EC362D;
    color: #FFF5F4;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    word-break: break-all;
}
.button-div{
    width: 100%;
    padding: 0px 20px;
}

.numero-pergunta{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-perguntas h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}
.numero-pergunta ion-icon, .numero-nivel ion-icon{
    width: 23px;
    height: 23px;
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.correct, .incorrect{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.urlIncorrect1, .urlIncorrect2{
    margin-bottom: 18px;
} 
.first{
    margin-top: 6px;
}
.imagem{
   margin-top: 20px;
    width: 500px;
    height: 266px;
    position: relative;
}
.imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.sucesso button{
    margin-bottom: 20px;
}
.sucesso p{
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 70px;
    text-align: center;
    color: #818181;
}

.imagem .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    );
  }
.imagem .title{
    position: absolute;
    font-weight: 400;
    font-size: 23px;
    padding: 18px;
    color: #FFFFFF;
    word-break: break-all;
    bottom: 10px;
    z-index: 3;
}

.esconder{
    display: none;
}
@media (max-width: 1100px){
    .Quizzes .header{
        justify-content: space-between;
    }
}
